# standard ignore
*config*
*conf*

.github/
.gitignore
.eslintrc
.stylelintrc

coverage/
docs/
scripts/
test/
demo/**/*.css
demo/**/*.scss
demo/**/*.html

dist/es5.js
dist/auro-select.js
dist/style-css.js
dist/style-fixed-css.js

index.html

# ignore src
src/**/*
