@import './../node_modules/@alaskaairux/design-tokens/dist/tokens/SCSSVariables';
@import './../node_modules/@alaskaairux/webcorestylesheets/dist/breakpoints';
@import './../node_modules/@alaskaairux/webcorestylesheets/dist/core';
@import './../node_modules/@aurodesignsystem/webcorestylesheets/dist/utilityClasses/displayProperties';

[slot='trigger'] {
  width: 100%;
  padding: 0;
  border: 0;
  background: none;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  text-align: left;
}

:host {
  auro-dropdown {
    &::part(trigger) {
      /* 2.5rem if --auro-size-500 not defined */
      min-height: var(--auro-size-500, 2.5rem);
      max-height: var(--auro-size-500, 2.5rem);

      /* stylelint-disable */
      &:hover {
        background-color: var(--auro-color-ui-bkg-hover-on-light);
      }
      /* stylelint-enable */
    }
  }
}

:host([disabled]) {
  * {
    opacity: .7;
    user-select: none;
  }
}

.menuWrapper {
  padding: var(--auro-size-xxs) 0;
}
