@import './../node_modules/@aurodesignsystem/design-tokens/dist/tokens/SCSSVariables';

// Support for fallback values
@import './../node_modules/@aurodesignsystem/design-tokens/dist/tokens/SCSSVariables.scss';

@import './../node_modules/@aurodesignsystem/webcorestylesheets/src/breakpoints';
@import './../node_modules/@aurodesignsystem/webcorestylesheets/src/core';
@import './../node_modules/@aurodesignsystem/webcorestylesheets/src/utilityClasses/displayProperties';

/* stylelint-disable selector-class-pattern */

[slot='trigger'] {
  width: 100%;
  padding: 0;
  border: 0;
  background: none;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  text-align: left;
}

:host {
  auro-dropdown {
    &::part(trigger) {
      min-height: var(--ds-size-500, $ds-size-500);
      max-height: var(--ds-size-500, $ds-size-500);

      /* stylelint-disable */
      &:hover {
        background-color: var(--ds-color-ui-bkg-hover-default, $ds-color-ui-bkg-hover-default);
      }
      /* stylelint-enable */
    }
  }
}

:host([disabled]) {
  * {
    opacity: .7;
    user-select: none;
  }
}

.menuWrapper {
  padding: var(--ds-size-50, $ds-size-50) 0;
}

.selectElement-helpText {
  margin: var(--ds-size-50, $ds-size-50) 0;
  color: var(--ds-color-text-secondary-default, $ds-color-text-secondary-default);
  font-size: var(--ds-text-body-size-xs, $ds-text-body-size-xs);
  line-height: 1rem;
}

:host([validity]:not([validity='valid'])) {
  .selectElement-helpText {
    color: var(--ds-color-alert-error-default, $ds-color-alert-error-default);
  }
}

.placeholder {
  color: var(--ds-color-text-secondary-default, $ds-color-text-secondary-default);
}
